.page-wrap {
	height: 100%;
}

.container {

	margin-top: -5%;

	min-height: 2800px;

}

#contents {

	margin-top: 5%;
	width: inherit;
}

#contents h1 {
	margin-left: 3%;
}

#contents h2 {
	margin-left : 30px;
	font-size: 1.1em;
	color: #444444;
	text-align: left;
	width: 100%;
	
}

#clients1 {
	float: left;
	margin: 10px;
  width: 45%;
	overflow: hidden;
}

#clients1 ul li {
	list-style: none;
	margin-bottom: 10px;
	font-family: inherit;
	text-align: left;
}

#clients2 {
	margin-top: 20px;
	margin-left: 10px;
	overflow: hidden;
	width: 45%;

}

#clients2 ul li {
	list-style: none;
	margin-bottom: 10px;
	font-family: inherit;
	text-align: left;
}

.site-footer {
	
	clear: both;
	bottom: 0;
}