.container {
  margin: 0;
  margin-top: -5%;
  min-height: 720px;
  max-height: 1200px;
}



#contents  {
  width: 40%;
  margin-top: 10%;
  margin-right:5%;

}

#contents h2 {
  color: #444444;
  font-family: "Myriad Pro", inherit, "Arial", "sans-serif";
  
}

#contents  {
  color: #444444;
  font-family: "Myriad Pro", inherit, "Arial", "sans-serif";
}

#photos {
  max-width: 40%;
  margin-top: 25%;
  float: left
}