/*! responsive-nav.js 1.0.39 by @viljamis */

.nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav li {
  width: 100%;
  display: block;
}

.js .nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  
}

@media screen and (min-width: 319px) and (max-width: 480px) {
  .js .nav {
    position: relative;
    margin-top: -9px;
  }
  .js .nav.closed {
    max-height: none;
  }
  .nav-toggle  {
    display: inline-block;
    margin-top: 120px;
    width:100%;
    min-height: 24px;
    background-color: #444;
  }
  
  .js .nav ul  {
    margin-left: -30px;
  }
  
  .js .nav ul li ul li {
    display: block;
    z-index: 0;
  } 
   
  
  
  
  }
   
  
